@font-face {
    font-family: 'Kalam';
    src: url("Kalam/Kalam-Regular.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Kaushan';
    src: url("Kauchan/KaushanScript-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@-webkit-keyframes shake {
    0%{-webkit-transform: translate(2px,2px);}
    10%{-webkit-transform: translate(-2px,-2px);}
    20%{-webkit-transform: translate(2px,2px);}
    30%{-webkit-transform: translate(-2px,-2px);}
    40%{-webkit-transform: translate(2px,2px);}
    50%{-webkit-transform: translate(-2px,-2px);}
    60%{-webkit-transform: translate(2px,2px);}
    70%{-webkit-transform: translate(-2px,-2px);}
    80%{-webkit-transform: translate(2px,2px);}
    90%{-webkit-transform: translate(-2px,-2px);}
    100%{-webkit-transform: translate(2px,2px);}
}

@media screen and (max-width: 768px){

    body {
        margin: auto;
        height: 100%;
        width: 100%;
    }

    header {
        border: 1px solid rgba(0, 150, 136, 1);
        width: auto;
        height: 100px;
        text-align: center;
        background-color: rgba(0, 150, 136, 1);
        font-family: Calibri, serif;
    }

    h1 {
        color: gold;
        font-size: 50px;
        font-weight: bold;
        margin-top: 15px;
        letter-spacing: -3px;
    }

    article {
        margin-top: 30px;
        text-align: center;
        font-size: 25px;
        font-family: Calibri, serif;
        font-weight: bold;
        height: 10px;
    }

    article > p {
        margin-top: 10px;
    }

    aside {
        box-shadow: 0 0 5px gray;
        width: auto;
        margin-bottom: 100px;
        margin-left: 10px;
        margin-right: 10px;
        padding-bottom: 100px;
        text-align: center;
    }

    aside > h2 {
        background: -webkit-gradient(linear, left top, right bottom, from(rgba(104, 159, 56, 1)), to(rgba(192, 202, 51, 1)));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        padding-top: 70px;
        font-size: 60px;
        font-weight: normal;
        font-family: 'Kaushan', serif;
    }

    .undertitle {
        display: flex;
        width: auto;
        justify-content: space-between;
        margin-left: 50px;
        margin-right: 50px;
    }

    .undertitle1 {
        font-family: 'Kalam', serif;
    }

    .undertitle2 {
        font-family: 'Kalam', serif;
    }

    .undertitle3 {
        font-family: 'Kalam', serif;
    }

    .undertitle > img {
        height: 5px;
        width: 90px;
        margin: auto;
    }

    ul {
        list-style-type: none;
        font-family: 'Kalam', serif;
    }

    ul > li {
        height: 80px;
    }

    .entrance {
        font-family: 'Kalam', serif;
        display: flex;
        justify-content: space-between;
        width: auto;
        padding-top: 0;
        margin-bottom: 20px;
        margin-left: 50px;
        margin-right: 50px;
    }

    .main-course {
        font-family: 'Kalam', serif;
        display: flex;
        justify-content: space-between;
        width: auto;
        margin-bottom: 20px;
        margin-left: 50px;
        margin-right: 50px;
    }

    .dessert {
        font-family: 'Kalam', serif;
        display: flex;
        justify-content: space-between;
        width: auto;
        margin-left: 50px;
        margin-right: 50px;
    }

    .text {
        font-weight: normal;
        text-align: left;
        margin-top: 0;
        padding-left: 0;
    }

    .price {
        font-weight: bold;
        text-align: right;
        margin-top: 0;
    }

    footer {
        border: 2px solid rgba(0, 150, 136, 1);
        height: 53px;
        position: fixed;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: rgba(0, 150, 136, 1);
        font-family: Calibri, serif;
    }

    .legal-notice {
        display: inline-block;
        color: gold;
        font-size: 20px;
        margin-top: 13px;
        margin-left: 5px;
    }

    .legal-notice:hover{
        -webkit-animation-name: shake;
        -webkit-animation-duration: 0.5s;
        -webkit-animation-iteration-count: infinite;
    }

    .contact {
        display: inline-block;
        color: gold;
        font-size: 20px;
        margin-top: 13px;
        margin-right: 5px;
    }

    .contact:hover{
        -webkit-animation-name: shake;
        -webkit-animation-duration: 0.5s;
        -webkit-animation-iteration-count: infinite;
    }

    a {
        text-decoration: none;
    }

    a:-webkit-any-link {
        color: gold;
        cursor: pointer;
    }
}

@media (min-width: 769px) and (max-width: 990px){

    body {
        margin: auto;
        height: 100%;
        width: 100%;
    }

    header {
        border: 1px solid rgba(0, 150, 136, 1);
        width: auto;
        height: 100px;
        text-align: center;
        background-color: rgba(0, 150, 136, 1);
        font-family: Calibri, serif;
    }

    h1 {
        color: gold;
        font-size: 50px;
        font-weight: bold;
        margin-top: 15px;
        letter-spacing: -3px;
    }

    article {
        margin-top: 30px;
        text-align: center;
        font-size: 25px;
        font-family: Calibri, serif;
        font-weight: bold;
        height: 10px;
    }

    article > p {
        margin-top: 10px;
    }

    aside {
        box-shadow: 0 0 5px gray;
        width: 700px;
        margin-bottom: 100px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 100px;
        text-align: center;
    }

    aside > h2 {
        background: -webkit-gradient(linear, left top, right bottom, from(rgba(104, 159, 56, 1)), to(rgba(192, 202, 51, 1)));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        padding-top: 70px;
        font-size: 70px;
        font-weight: normal;
        font-family: 'Kaushan', serif;
    }

    .undertitle {
        display: flex;
        width: 650px;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
    }

    .undertitle1 {
        font-family: 'Kalam', serif;
    }

    .undertitle2 {
        font-family: 'Kalam', serif;
    }

    .undertitle3 {
        font-family: 'Kalam', serif;
    }

    .undertitle > img {
        height: 10px;
        width: 200px;
        margin: auto;
    }

    ul {
        list-style-type: none;
        font-family: 'Kalam', serif;
    }

    ul > li {
        height: 40px;
    }

    .entrance {
        font-family: 'Kalam', serif;
        display: flex;
        justify-content: space-between;
        width: 550px;
        padding-top: 0;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    .main-course {
        font-family: 'Kalam', serif;
        display: flex;
        justify-content: space-between;
        width: 550px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    .dessert {
        font-family: 'Kalam', serif;
        display: flex;
        justify-content: space-between;
        width: 550px;
        margin-left: auto;
        margin-right: auto;
    }

    .text {
        font-weight: normal;
        text-align: left;
        margin-top: 0;
        padding-left: 0;
    }

    .price {
        font-weight: bold;
        text-align: right;
        margin-top: 0;
    }

    footer {
        border: 2px solid rgba(0, 150, 136, 1);
        height: 53px;
        position: fixed;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: rgba(0, 150, 136, 1);
        font-family: Calibri, serif;
    }

    .legal-notice {
        display: inline-block;
        color: gold;
        font-size: 20px;
        margin-top: 13px;
        margin-left: 5px;
    }

    .legal-notice:hover{
        -webkit-animation-name: shake;
        -webkit-animation-duration: 0.5s;
        -webkit-animation-iteration-count: infinite;
    }

    .contact {
        display: inline-block;
        color: gold;
        font-size: 20px;
        margin-top: 13px;
        margin-right: 5px;
    }

    .contact:hover{
        -webkit-animation-name: shake;
        -webkit-animation-duration: 0.5s;
        -webkit-animation-iteration-count: infinite;
    }

    a {
        text-decoration: none;
    }

    a:-webkit-any-link {
        color: gold;
        cursor: pointer;
    }
}

@media screen and (min-width: 991px) {

    body {
        margin: auto;
        height: 100%;
        width: 100%;
    }

    header {
        border: 1px solid rgba(0, 150, 136, 1);
        width: auto;
        height: 100px;
        text-align: center;
        background-color: rgba(0, 150, 136, 1);
        font-family: Calibri, serif;
    }

    h1 {
        color: gold;
        font-size: 50px;
        font-weight: bold;
        margin-top: 15px;
        letter-spacing: -3px;
    }

    article {
        margin-top: 30px;
        text-align: center;
        font-size: 25px;
        font-family: Calibri, serif;
        font-weight: bold;
        height: 10px;
    }

    article > p {
        margin-top: 10px;
    }

    aside {
        box-shadow: 0 0 5px gray;
        width: 700px;
        margin-bottom: 100px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 100px;
        text-align: center;
    }

    aside > h2 {
        background: -webkit-gradient(linear, left top, right bottom, from(rgba(104, 159, 56, 1)), to(rgba(192, 202, 51, 1)));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        padding-top: 70px;
        font-size: 70px;
        font-weight: normal;
        font-family: 'Kaushan', serif;
    }

    .undertitle {
        display: flex;
        width: 650px;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
    }

    .undertitle1 {
        font-family: 'Kalam', serif;
    }

    .undertitle2 {
        font-family: 'Kalam', serif;
    }

    .undertitle3 {
        font-family: 'Kalam', serif;
    }

    .undertitle > img {
        height: 10px;
        width: 200px;
        margin: auto;
    }

    ul {
        list-style-type: none;
        font-family: 'Kalam', serif;
    }

    ul > li {
        height: 40px;
    }

    .entrance {
        font-family: 'Kalam', serif;
        display: flex;
        justify-content: space-between;
        width: 550px;
        padding-top: 0;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    .main-course {
        font-family: 'Kalam', serif;
        display: flex;
        justify-content: space-between;
        width: 550px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    .dessert {
        font-family: 'Kalam', serif;
        display: flex;
        justify-content: space-between;
        width: 550px;
        margin-left: auto;
        margin-right: auto;
    }

    .text {
        font-weight: normal;
        text-align: left;
        margin-top: 0;
        padding-left: 0;
    }

    .price {
        font-weight: bold;
        text-align: right;
        margin-top: 0;
    }

    footer {
        border: 2px solid rgba(0, 150, 136, 1);
        height: 53px;
        position: fixed;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: rgba(0, 150, 136, 1);
        font-family: Calibri, serif;
    }

    .legal-notice {
        display: inline-block;
        color: gold;
        font-size: 20px;
        margin-top: 13px;
        margin-left: 5px;
    }

    .legal-notice:hover{
        -webkit-animation-name: shake;
        -webkit-animation-duration: 0.5s;
        -webkit-animation-iteration-count: infinite;
    }

    .contact {
        display: inline-block;
        color: gold;
        font-size: 20px;
        margin-top: 13px;
        margin-right: 5px;
    }

    .contact:hover{
        -webkit-animation-name: shake;
        -webkit-animation-duration: 0.5s;
        -webkit-animation-iteration-count: infinite;
    }

    a {
        text-decoration: none;
    }

    a:-webkit-any-link {
        color: gold;
        cursor: pointer;
    }
}