@font-face {
    font-family: 'Kalam';
    src: url("Kalam/Kalam-Regular.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Kaushan';
    src: url("Kauchan/KaushanScript-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Devonshire';
    src: url("Devon/Devonshire-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Source serif';
    src: url("Source/SourceSerifPro-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@-webkit-keyframes shake {
    0%{-webkit-transform: translate(2px,2px);}
    10%{-webkit-transform: translate(-2px,-2px);}
    20%{-webkit-transform: translate(2px,2px);}
    30%{-webkit-transform: translate(-2px,-2px);}
    40%{-webkit-transform: translate(2px,2px);}
    50%{-webkit-transform: translate(-2px,-2px);}
    60%{-webkit-transform: translate(2px,2px);}
    70%{-webkit-transform: translate(-2px,-2px);}
    80%{-webkit-transform: translate(2px,2px);}
    90%{-webkit-transform: translate(-2px,-2px);}
    100%{-webkit-transform: translate(2px,2px);}
}

@-webkit-keyframes point {
    0%{-webkit-transform: scale(1);}
    25%{-webkit-transform: scale(2);}
    50%{-webkit-transform: scale(1);}
    75%{-webkit-transform: scale(1);}
    100%{-webkit-transform: scale(1);}
}

@-webkit-keyframes point1 {
    0%{-webkit-transform: scale(1);}
    25%{-webkit-transform: scale(1);}
    50%{-webkit-transform: scale(2);}
    75%{-webkit-transform: scale(1);}
    100%{-webkit-transform: scale(1);}
}

@-webkit-keyframes point2 {
    0%{-webkit-transform: scale(1);}
    25%{-webkit-transform: scale(1);}
    50%{-webkit-transform: scale(1);}
    75%{-webkit-transform: scale(2);}
    100%{-webkit-transform: scale(1);}
}

@media screen and (max-width: 768px) {

    body {
        margin: auto;
        height: 100%;
    }

    .container {
        width: auto;
        height: auto;
    }

    header {
        border: 1px solid rgba(0, 150, 136, 1);
        width: auto;
        height: 100px;
        text-align: center;
        background-color: rgba(0, 150, 136, 1);
        font-family: Calibri, serif;
    }

    h1 {
        color: gold;
        font-size: 50px;
        font-weight: bold;
        margin-top: 15px;
        letter-spacing: -3px;
    }

    section {
        height: 600px;
    }

    article {
        margin-top: 30px;
    }

    aside {
        display: flex;
        background-color: rgba(0, 150, 136, 1);
        border: 2px solid rgba(0, 150, 136, 1);
        border-radius: 10px;
        width: 200px;
        height: 35px;
        margin: 40px auto 100px;
        text-align: center;
        font-family: Calibri, serif;
    }

    .soon {
        margin-top: 2px;
        margin-left: 15px;
        margin-right: 10px;
        color: gold;
        font-size: 22px;
    }

    .dot{
        display: inline-block;
        color: gold;
        margin-top: 7px;
        margin-right: 5px;
        padding-bottom: 50px;
        -webkit-animation-name: point;
        -webkit-animation-duration: 1s;
        -webkit-animation-iteration-count: infinite;
    }

    .dot1{
        display: inline-block;
        color: gold;
        margin-top: 7px;
        margin-right: 5px;
        padding-bottom: 50px;
        -webkit-animation-name: point1;
        -webkit-animation-duration: 1s;
        -webkit-animation-iteration-count: infinite;
    }

    .dot2{
        display: inline-block;
        color: gold;
        margin-top: 7px;
        padding-bottom: 50px;
        -webkit-animation-name: point2;
        -webkit-animation-duration: 1s;
        -webkit-animation-iteration-count: infinite;
    }

    footer {
        border: 2px solid rgba(0, 150, 136, 1);
        height: 53px;
        width: 100%;
        position: fixed;
        bottom: 0;
        display: flex;
        justify-content: space-between;
        background-color: rgba(0, 150, 136, 1);
        font-family: Calibri, serif;
    }

    .legal-notice {
        display: inline-block;
        color: gold;
        font-size: 20px;
        margin-top: 13px;
        margin-left: 5px;
    }

    .legal-notice:hover{
        -webkit-animation-name: shake;
        -webkit-animation-duration: 0.5s;
        -webkit-animation-iteration-count: infinite;
    }

    .contact {
        display: inline-block;
        color: gold;
        font-size: 20px;
        margin-top: 13px;
        margin-right: 5px;
    }

    .contact:hover{
        -webkit-animation-name: shake;
        -webkit-animation-duration: 0.5s;
        -webkit-animation-iteration-count: infinite;
    }

    .storage1 {
        display: flex;
        justify-content: center;
        padding-left: 10px;
        padding-right: 10px;
    }

    .menu1 {
        border: 2px solid rgba(255, 205, 210, 0.5);
        width: 160px;
        height: 230px;
        text-align: center;
        color: black;
        background-color: rgba(255, 205, 210, 0.5);
        box-shadow: 0 0 5px gray;
        font-family: "Devonshire", serif;
    }

    .menu1:hover{
        opacity: 0.8;
    }

    .zoom{
        display: inline-block;
        height: 230px;
    }

    .zoom:hover{
        transform: scale(1.15);
        transition: transform 1.5s;
    }

    .zoom > i {
        background: -webkit-gradient(linear, left top, right bottom, from(red), to(orange));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 25px;
        margin-top: 80px;
        margin-bottom: 0;
    }

    .zoom > p {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
    }

    .zoom > h2 {
        margin-top: 0;
        font-family: 'Kalam', serif;
        font-style: normal;
    }

    .menu2 {
        border: 1px solid rgba(255, 235, 238, 1);
        background-color: rgba(255, 235, 238, 0.5);
        margin-left: 20px;
        width: 160px;
        height: 230px;
        text-align: center;
        box-shadow: 0 0 5px gray;
        font-family: "Source serif", serif;
    }

    .menu2:hover{
        opacity: 0.8;
    }

    .zoom1{
        display: inline-block;
        height: 230px;
    }

    .zoom1:hover{
        transform: scale(1.15);
        transition: transform 1.5s;
    }

    .zoom1 > p {
        background: -webkit-gradient(linear, left top, right bottom, from(rgba(211, 84, 0, 1)), to(rgba(76, 117, 163, 1)));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-top: 90px;
        margin-bottom: 0;
    }

    .zoom1 > h2 {
        margin-top: 10px;
        color: rgba(211, 84, 0, 1);
    }

    .storage2 {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .menu3 {
        border: 2px solid rgba(224, 224, 224, 0.5);
        background-color: rgba(224, 224, 224, 0.5);
        width: 160px;
        height: 230px;
        text-align: center;
        box-shadow: 0 0 5px gray;
        font-family: "Dancing Script OT", serif;
    }

    .menu3:hover{
        opacity: 0.8;
    }

    .zoom2{
        display: inline-block;
        height: 230px;
    }

    .zoom2:hover{
        transform: scale(1.15);
        transition: transform 1.5s;
    }

    .zoom2 > p {
        background: -webkit-gradient(linear, left top, right bottom, from(rgba(59, 89, 153, 1)), to(rgba(0, 175, 240, 1)));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-top: 80px;
        margin-bottom: 0;
    }

    .zoom2 > h2 {
        color: rgba(0, 175, 240, 1);
        font-family: 'Kalam', serif;
        font-weight: normal;
        margin-top: 10px;
    }

    .menu4 {
        border: 2px solid white;
        margin-left: 20px;
        width: 160px;
        height: 230px;
        text-align: center;
        box-shadow: 0 0 5px gray;
        font-family: 'Kaushan', serif;
    }

    .menu4:hover{
        opacity: 0.8;
    }

    .zoom3{
        display: inline-block;
        height: 230px;
    }

    .zoom3:hover{
        transform: scale(1.15);
        transition: transform 1.5s;
    }

    .zoom3 > p {
        background: -webkit-gradient(linear, left top, right bottom, from(rgba(104, 159, 56, 1)), to(rgba(192, 202, 51, 1)));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-top: 85px;
        margin-bottom: 0;
    }

    .zoom3 > h2 {
        color: rgba(104, 159, 56, 1);
        font-family: 'Kalam', serif;
        font-weight: normal;
        margin-top: 0;
    }

    a {
        text-decoration: none;
        color: gold;
        cursor: pointer;
    }
}

@media (min-width: 769px) and (max-width: 990px) {

    body {
        margin: auto;
        height: 100%;
    }

    .container {
        width: auto;
        height: auto;
    }

    header {
        border: 1px solid rgba(0, 150, 136, 1);
        width: auto;
        height: 100px;
        text-align: center;
        background-color: rgba(0, 150, 136, 1);
        font-family: Calibri, serif;
    }

    h1 {
        color: gold;
        font-size: 50px;
        font-weight: bold;
        margin-top: 15px;
        letter-spacing: -3px;
    }

    section {
        height: 600px;
    }

    article {
        margin-top: 30px;
    }

    aside {
        display: flex;
        background-color: rgba(0, 150, 136, 1);
        border: 2px solid rgba(0, 150, 136, 1);
        border-radius: 10px;
        width: 250px;
        height: 45px;
        margin: 30px auto 100px;
        text-align: center;
        font-family: Calibri, serif;
    }

    .soon {
        margin-top: 2px;
        margin-left: 15px;
        margin-right: 10px;
        color: gold;
        font-size: 30px;
    }

    .dot{
        display: inline-block;
        color: gold;
        margin-right: 5px;
        padding-bottom: 50px;
        -webkit-animation-name: point;
        -webkit-animation-duration: 1s;
        -webkit-animation-iteration-count: infinite;
    }

    .dot1{
        display: inline-block;
        color: gold;
        margin-right: 5px;
        padding-bottom: 50px;
        -webkit-animation-name: point1;
        -webkit-animation-duration: 1s;
        -webkit-animation-iteration-count: infinite;
    }

    .dot2{
        display: inline-block;
        color: gold;
        padding-bottom: 50px;
        -webkit-animation-name: point2;
        -webkit-animation-duration: 1s;
        -webkit-animation-iteration-count: infinite;
    }

    footer {
        border: 2px solid rgba(0, 150, 136, 1);
        height: 53px;
        width: 100%;
        position: fixed;
        bottom: 0;
        display: flex;
        justify-content: space-between;
        background-color: rgba(0, 150, 136, 1);
        font-family: Calibri, serif;
    }

    .legal-notice {
        display: inline-block;
        color: gold;
        font-size: 25px;
        margin-top: 10px;
        margin-left: 10px;
    }

    .legal-notice:hover{
        -webkit-animation-name: shake;
        -webkit-animation-duration: 0.5s;
        -webkit-animation-iteration-count: infinite;
    }

    .contact {
        display: inline-block;
        color: gold;
        font-size: 25px;
        margin-top: 10px;
        margin-right: 10px;
    }

    .contact:hover{
        -webkit-animation-name: shake;
        -webkit-animation-duration: 0.5s;
        -webkit-animation-iteration-count: infinite;
    }

    .storage1 {
        display: flex;
        justify-content: center;
    }

    .menu1 {
        border: 2px solid rgba(255, 205, 210, 0.5);
        width: 180px;
        height: 230px;
        text-align: center;
        color: black;
        background-color: rgba(255, 205, 210, 0.5);
        box-shadow: 0 0 5px gray;
        font-family: "Devonshire", serif;
    }

    .menu1:hover{
        opacity: 0.8;
    }

    .zoom{
        display: inline-block;
        height: 230px;
    }

    .zoom:hover{
        transform: scale(1.15);
        transition: transform 1.5s;
    }

    .zoom > i {
        background: -webkit-gradient(linear, left top, right bottom, from(red), to(orange));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 25px;
        margin-top: 80px;
        margin-bottom: 0;
    }

    .zoom > p {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
    }

    .zoom > h2 {
        margin-top: 0;
        font-family: 'Kalam', serif;
        font-style: normal;
    }

    .menu2 {
        border: 1px solid rgba(255, 235, 238, 1);
        background-color: rgba(255, 235, 238, 0.5);
        margin-left: 20px;
        width: 180px;
        height: 230px;
        text-align: center;
        box-shadow: 0 0 5px gray;
        font-family: "Source serif", serif;
    }

    .menu2:hover{
        opacity: 0.8;
    }

    .zoom1{
        display: inline-block;
        height: 230px;
    }

    .zoom1:hover{
        transform: scale(1.15);
        transition: transform 1.5s;
    }

    .zoom1 > p {
        background: -webkit-gradient(linear, left top, right bottom, from(rgba(211, 84, 0, 1)), to(rgba(76, 117, 163, 1)));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-top: 90px;
        margin-bottom: 0;
    }

    .zoom1 > h2 {
        margin-top: 10px;
        color: rgba(211, 84, 0, 1);
    }

    .storage2 {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .menu3 {
        border: 2px solid rgba(224, 224, 224, 0.5);
        background-color: rgba(224, 224, 224, 0.5);
        width: 180px;
        height: 230px;
        text-align: center;
        box-shadow: 0 0 5px gray;
        font-family: "Dancing Script OT", serif;
    }

    .menu3:hover{
        opacity: 0.8;
    }

    .zoom2{
        display: inline-block;
        height: 230px;
    }

    .zoom2:hover{
        transform: scale(1.15);
        transition: transform 1.5s;
    }

    .zoom2 > p {
        background: -webkit-gradient(linear, left top, right bottom, from(rgba(59, 89, 153, 1)), to(rgba(0, 175, 240, 1)));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-top: 80px;
        margin-bottom: 0;
    }

    .zoom2 > h2 {
        color: rgba(0, 175, 240, 1);
        font-family: 'Kalam', serif;
        font-weight: normal;
        margin-top: 10px;
    }

    .menu4 {
        border: 2px solid white;
        margin-left: 20px;
        width: 180px;
        height: 230px;
        text-align: center;
        box-shadow: 0 0 5px gray;
        font-family: 'Kaushan', serif;
    }

    .menu4:hover{
        opacity: 0.8;
    }

    .zoom3{
        display: inline-block;
        height: 230px;
    }

    .zoom3:hover{
        transform: scale(1.15);
        transition: transform 1.5s;
    }

    .zoom3 > p {
        background: -webkit-gradient(linear, left top, right bottom, from(rgba(104, 159, 56, 1)), to(rgba(192, 202, 51, 1)));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-top: 85px;
        margin-bottom: 0;
    }

    .zoom3 > h2 {
        color: rgba(104, 159, 56, 1);
        font-family: 'Kalam', serif;
        font-weight: normal;
        margin-top: 0;
    }

    a {
        text-decoration: none;
        color: gold;
        cursor: pointer;
    }
}

@media screen and (min-width: 991px) {

    body {
        margin: auto;
        height: 100%;
    }

    .container {
        width: auto;
        height: auto;
    }

    header {
        border: 1px solid rgba(0, 150, 136, 1);
        width: auto;
        height: 100px;
        text-align: center;
        background-color: rgba(0, 150, 136, 1);
        font-family: Calibri, serif;
    }

    h1 {
        color: gold;
        font-size: 50px;
        font-weight: bold;
        margin-top: 15px;
        letter-spacing: -3px;
    }

    section {
        height: 600px;
    }

    article {
        margin-top: 30px;
    }

    aside {
        display: flex;
        background-color: rgba(0, 150, 136, 1);
        border: 2px solid rgba(0, 150, 136, 1);
        border-radius: 10px;
        width: 250px;
        height: 45px;
        margin: 30px auto 100px;
        text-align: center;
        font-family: Calibri, serif;
    }

    .soon {
        display: inline-block;
        margin-top: 2px;
        margin-left: 15px;
        margin-right: 10px;
        color: gold;
        font-size: 30px;
    }

    .dot{
        display: inline-block;
        color: gold;
        margin-right: 5px;
        padding-bottom: 50px;
        -webkit-animation-name: point;
        -webkit-animation-duration: 1s;
        -webkit-animation-iteration-count: infinite;
    }

    .dot1{
        display: inline-block;
        color: gold;
        margin-right: 5px;
        padding-bottom: 50px;
        -webkit-animation-name: point1;
        -webkit-animation-duration: 1s;
        -webkit-animation-iteration-count: infinite;
    }

    .dot2{
        display: inline-block;
        color: gold;
        padding-bottom: 50px;
        -webkit-animation-name: point2;
        -webkit-animation-duration: 1s;
        -webkit-animation-iteration-count: infinite;
    }

    footer {
        border: 2px solid rgba(0, 150, 136, 1);
        height: 53px;
        width: 100%;
        position: fixed;
        bottom: 0;
        display: flex;
        justify-content: space-between;
        background-color: rgba(0, 150, 136, 1);
        font-family: Calibri, serif;
    }

    .legal-notice {
        display: inline-block;
        color: gold;
        font-size: 25px;
        margin-top: 10px;
        margin-left: 10px;
    }

    .legal-notice:hover{
        -webkit-animation-name: shake;
        -webkit-animation-duration: 0.5s;
        -webkit-animation-iteration-count: infinite;
    }

    .contact {
        display: inline-block;
        color: gold;
        font-size: 25px;
        margin-top: 10px;
        margin-right: 10px;
    }

    .contact:hover{
        -webkit-animation-name: shake;
        -webkit-animation-duration: 0.5s;
        -webkit-animation-iteration-count: infinite;
    }

    .storage1 {
        display: flex;
        justify-content: center;
    }

    .menu1 {
        display: inline-block;
        border: 2px solid rgba(255, 205, 210, 0.5);
        width: 180px;
        height: 230px;
        text-align: center;
        margin-left: auto;
        color: black;
        background-color: rgba(255, 205, 210, 0.5);
        box-shadow: 0 0 5px gray;
        font-family: "Devonshire", serif;
    }

    .menu1:hover{
        opacity: 0.8;
    }

    .zoom{
        display: inline-block;
        height: 230px;
    }

    .zoom:hover{
        transform: scale(1.15);
        transition: transform 1.5s;
    }

    .zoom > i {
        background: -webkit-gradient(linear, left top, right bottom, from(red), to(orange));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 25px;
        margin-top: 80px;
        margin-bottom: 0;
    }

    .zoom > p {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
    }

    .zoom > h2 {
        margin-top: 0;
        font-family: 'Kalam', serif;
        font-style: normal;
    }

    .menu2 {
        display: inline-block;
        border: 1px solid rgba(255, 235, 238, 1);
        background-color: rgba(255, 235, 238, 0.5);
        margin-left: 20px;
        width: 180px;
        height: 230px;
        text-align: center;
        box-shadow: 0 0 5px gray;
        font-family: "Source serif", serif;
    }

    .menu2:hover{
        opacity: 0.8;
    }

    .zoom1{
        display: inline-block;
        height: 230px;
    }

    .zoom1:hover{
        transform: scale(1.15);
        transition: transform 1.5s;
    }

    .zoom1 > p {
        background: -webkit-gradient(linear, left top, right bottom, from(rgba(211, 84, 0, 1)), to(rgba(76, 117, 163, 1)));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-top: 90px;
        margin-bottom: 0;
    }

    .zoom1 > h2 {
        margin-top: 10px;
        color: rgba(211, 84, 0, 1);
    }

    .storage2 {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .menu3 {
        display: inline-block;
        border: 2px solid rgba(224, 224, 224, 0.5);
        background-color: rgba(224, 224, 224, 0.5);
        width: 180px;
        height: 230px;
        text-align: center;
        box-shadow: 0 0 5px gray;
        font-family: "Dancing Script OT", serif;
    }

    .menu3:hover{
        opacity: 0.8;
    }

    .zoom2{
        display: inline-block;
        height: 230px;
    }

    .zoom2:hover{
        transform: scale(1.15);
        transition: transform 1.5s;
    }

    .zoom2 > p {
        background: -webkit-gradient(linear, left top, right bottom, from(rgba(59, 89, 153, 1)), to(rgba(0, 175, 240, 1)));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-top: 80px;
        margin-bottom: 0;
    }

    .zoom2 > h2 {
        color: rgba(0, 175, 240, 1);
        font-family: 'Kalam', serif;
        font-weight: normal;
        margin-top: 10px;
    }

    .menu4 {
        display: inline-block;
        border: 2px solid white;
        margin-left: 20px;
        width: 180px;
        height: 230px;
        text-align: center;
        box-shadow: 0 0 5px gray;
        font-family: 'Kaushan', serif;
    }

    .menu4:hover{
        opacity: 0.8;
    }

    .zoom3{
        display: inline-block;
        height: 230px;
    }

    .zoom3:hover{
        transform: scale(1.15);
        transition: transform 1.5s;
    }

    .zoom3 > p {
        background: -webkit-gradient(linear, left top, right bottom, from(rgba(104, 159, 56, 1)), to(rgba(192, 202, 51, 1)));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-top: 85px;
        margin-bottom: 0;
    }

    .zoom3 > h2 {
        color: rgba(104, 159, 56, 1);
        font-family: 'Kalam', serif;
        font-weight: normal;
        margin-top: 0;
    }

    a {
        text-decoration: none;
        color: gold;
        cursor: pointer;
    }
}