@media screen and (max-width: 768px){

  section {
    width: auto;
    text-align: center;
    margin: 1em 1em 1em 1em;
    font-size: 1.25em;
    font-family: Calibri, serif;
    color: rgba(0, 150, 136, 1);
  }

  aside {
    width: 20em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 769px) and (max-width: 990px){

  section {
    width: auto;
    text-align: center;
    margin: 3.125em 3.125em 3.125em 3.125em;
    font-size: 1.25em;
    font-family: Calibri, serif;
    color: rgba(0, 150, 136, 1);
  }

  aside {
    width: 25em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 991px){

  section {
    width: 46.875em;
    text-align: center;
    margin: 3.125em auto 3.125em;
    font-size: 1.25em;
    font-family: Calibri, serif;
    color: rgba(0, 150, 136, 1);
  }

  aside {
    width: 25em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}