@media screen and (max-width: 768px){

  section {
    width: auto;
    text-align: center;
    margin: 1em 1em 1em 1em;
    font-size: 1.25em;
    font-family: Calibri, serif;
    color: rgba(0, 150, 136, 1);
  }

  aside {
    width: 20em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  aside > p {
    color: rgba(0, 150, 136, 1);
    font-size: 1.25em;
  }

  input {
    border-radius: 1.25em;
    width: 15.625em;
    border: 0.125em solid gold;
    outline: none;
    margin-bottom: 1.25em;
  }

  input:focus {
    border: 0.125em solid rgba(0, 150, 136, 1);
  }

  input:not(:focus):invalid {
    background: red;
    border: 0.125em solid red;
    color: white;
  }

  .clic {
    width: 9.375em;
    border: 0.125em solid black;
  }
}

@media (min-width: 769px) and (max-width: 990px){

  section {
    width: auto;
    text-align: center;
    margin: 3.125em 3.125em 3.125em 3.125em;
    font-size: 1.25em;
    font-family: Calibri, serif;
    color: rgba(0, 150, 136, 1);
  }

  aside {
    width: 25em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  aside > p {
    color: rgba(0, 150, 136, 1);
    font-size: 1.25em;
  }

  input {
    border-radius: 1.25em;
    width: 15.625em;
    border: 0.125em solid gold;
    outline: none;
    margin-bottom: 1.25em;
  }

  input:focus {
    border: 0.125em solid rgba(0, 150, 136, 1);
  }

  input:not(:focus):invalid {
    background: red;
    border: 0.125em solid red;
    color: white;
  }

  .clic {
    width: 9.375em;
    border: 0.125em solid black;
  }
}

@media screen and (min-width: 991px){

  section {
    width: 46.875em;
    text-align: center;
    margin: 3.125em auto 3.125em;
    font-size: 1.25em;
    font-family: Calibri, serif;
    color: rgba(0, 150, 136, 1);
  }

  aside {
    width: 25em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  aside > p {
    color: rgba(0, 150, 136, 1);
    font-size: 1.25em;
  }

  input {
    border-radius: 1.25em;
    width: 15.625em;
    border: 0.125em solid gold;
    outline: none;
    margin-bottom: 1.25em;
  }

  input:focus {
    border: 0.125em solid rgba(0, 150, 136, 1);
  }

  input:not(:focus):invalid {
    background: red;
    border: 0.125em solid red;
    color: white;
  }

  .clic {
    width: 9.375em;
    border: 0.125em solid black;
  }
}